.box {
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

.images {
    border: 1px solid black;
    padding: 5px;
    flex-basis: 70%;
}

.text {
    border: 1px solid black;
    padding: 5px;
    flex-basis: 30%;
    flex-shrink: 0;
}